.header .wrapper
{
width:80%;
margin:auto;
}
.banner .wrapper
{
width:80%;
margin:auto;
}
.logo .wrapper
{
width:80%;
margin:auto;
}
.provident.wrapper
{
width:80%;
margin:auto;
}
.contentbox.wrapper
{
width:80%;
margin:auto;
}
.services.wrapper
{
width:80%;
margin:auto;
}
.calltoaction.wrapper
{
width:80%;
margin:auto;
}
.testimonials.wrapper
{
width:80%;
margin:auto;
}
.portfolio .wrapper
{
width:80%;
margin:auto;
}
.team .wrapper
{
width:80%;
margin:auto;
}
.pricing .wrapper
{
width:80%;
margin:auto;
}
.faq .wrapper
{
width:80%;
margin:auto;
}
.contact .wrapper
{
width:80%;
margin:auto;
}
.about .wrapper
{
width:80%;
margin:auto;
}
.copyright .wrapper
{
width:80%;
margin:auto;
}

.header
{
	background-color:MediumPurple;
	height:95px;
}
.header-fc
{ 
	
	display:flex;
	justify-content:space-between;
}
.header .header-fc .header-logo
{
	background-color:plum;
	width:169px;
	height:68px;
	margin-top:5px;
}
.header .header-fc .header-navi
{
	background-color:plum;
	width:473px;
	height:68px;
	margin-top:5px;
}
.banner
{
	background-color:powderblue;
	height:506px;
}
.banner .banner-fc
{
	display:flex;
	justify-content:space-evenly;
	margin-top:200px;
}
.banner .banner-fc .bannera
{
	background-color:plum;
	height:66px;
	width:90px;
	text-align:center;
	margin-bottom:100px;
}
.logo
{
	background-color:pink;
	height:104px;
}
.logo .logo-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.logo .logo-fc .logoa
{
	width:102px;
	height:41px;
	margin-top:10px;
	background-color:lime;
	text-align:center;
}
.logo .logo-fc .logob
{
	background-color:lightsteelblue;
	width:102px;
	height:41px;
	text-align:center;
	margin-top:10px;
}
.logo .logo-fc .logoc
{
	background-color:lightslategrey;
	width:102px;
	height:41px;
	margin-top:10px;
	text-align:center;
}
.logo .logo-fc .logod
{
	width:102px;
	height:41px;
	background-color:white;
	margin-top:10px;
	text-align:center;
}
.logo .logo-fc .logoe
{
	background-color:lightsteelblue;
	width:102px;
	height:41px; 
	text-align:center;
	margin-top:10px;
}
.logo .logo-fc .logof
{
	background-color:lightskyblue;
	width:102px;
	height:41px; 
	text-align:center;
	margin-top:10px;
}
.provident
{
	background-color:gray;
	height:544px;
}
.provident .provident-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.provident .provident-fc .logoa
{
	width:500px;
	height:360px;
	margin-top:50px;
	background-color:lightsteelblue ;
	text-align:center;
}
.provident .provident-fc .logob
{
	background-color:violet;
	width:500px;
	height:360px;
	text-align:center;
	margin-top:50px;
}
.contentbox
{
	background-color:lightgreen;
	height:187px;
}
.contentbox .contentbox-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.contentbox .contentbox-fc .boxa
{
	width:128px;
	height:87px;
	margin-top:25px;
	background-color:lightpink;
	text-align:center;
}
.contentbox .contentbox-fc .boxb
{
	background-color:white;
	width:128px;
	height:87px;
	text-align:center;
	margin-top:25px;
}
.contentbox .contentbox-fc .boxc
{
	background-color:lightpink;
	width:128px;
	height:87px;
	margin-top:25px;
	text-align:center;
}
.contentbox .contentbox-fc .boxd
{
	width:128px;
	height:87px;
	background-color:white;
	margin-top:25px;
	text-align:center;
}
.services
{
	background-color:lightblue;
	height:927px;
}
.services .services-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.services .services-fc .boxa
{
	width:350px;
	height:295px;
	margin-top:100px;
	background-color:lightpink;
	text-align:center;
}
.services .services-fc .boxb
{
	background-color:grey;
	width:350px;
	height:295px;
	text-align:center;
	margin-top:100px;
}
.services .services-fc .boxc
{
	background-color:lightpink;
	width:350px;
	height:295px;
	margin-top:100px;
	text-align:center;
}
.services .services-fc .boxd
{
	width:350px;
	height:295px;
	background-color:gray;
	margin-top:100px;
	text-align:center;
}
.services .services-fc .boxe
{
	width:350px;
	height:295px;
	background-color:lightpink;
	margin-top:100px;
	text-align:center;
}
.services .services-fc .boxf
{
	width:350px;
	height:295px;
	background-color:gray;
	margin-top:100px;
	text-align:center;
}
.calltoaction
{
	background-color:lightslategrey;
	height:283px;
}
.calltoaction .calltoaction-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.calltoaction .calltoaction-fc .boxa
{
	width:202px;
	height:84px;
	margin-top:120px;
	background-color:lightgreen;
	text-align:center;
}
.testimonials
{
	background-color:teal;
	height:610px;
}
.testimonials .testimonials-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.testimonials .testimonials-fc .boxa
{
	width:300px;
	height:350px;
	margin-top:100px;
	background-color:aquamarine;
	text-align:center;
}
.testimonials .testimonials-fc .boxb
{
	background-color:azure;
	width:300px;
	height:350px;
	text-align:center;
	margin-top:100px;
}
.testimonials .testimonials-fc .boxc
{
	background-color:aquamarine;
	width:300px;
	height:350px;
	margin-top:100px;
	text-align:center;
}
.portfolio
{
	background-color:MediumPurple;
	height:1323px;
}
.portfolio .portfolio-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.portfolio .portfolio-fc .boxa
{
	width:300px;
	height:266px;
	margin-top:100px;
	background-color:bisque;
}
.portfolio .portfolio-fc .boxb
{
	background-color:cadetblue;
	width:300px;
	height:266px;
	text-align:center;
	margin-top:100px;
}
.portfolio .portfolio-fc .boxc
{
	background-color:bisque;
	width:300px;
	height:266px;
	margin-top:100px;
}
.portfolio .portfolio-fc .boxd
{
	width:300px;
	height:266px;
	background-color:cadetblue;
	margin-top:100px;
}
.portfolio .portfolio-fc .boxe
{
	background-color:chartreuse;
	width:300px;
	height:266px;
	margin-top:100px;
}
.portfolio .portfolio-fc .boxf
{
	width:300px;
	height:266px;
	background-color:cadetblue;
	margin-top:100px;
}
.portfolio .portfolio-fc .boxg
{
	width:300px;
	height:266px;
	background-color:darkgoldenrod;
	margin-top:100px;
}
.portfolio .portfolio-fc .boxh
{
	background-color:coral;
	width:300px;
	height:266px;
	margin-top:100px;
}
.portfolio .portfolio-fc .boxi
{
	width:300px;
	height:266px;
	background-color:darkgoldenrod;
	margin-top:100px;
}
.team
{
	background-color:gainsboro;
	height:652px;
	
}
.team .team-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.team .team-fc .boxs
{
	text-align:center;
	margin-top:80px;
	margin-top:90px;
}
.team .team-fc .boxa
{
	width:220px;
	height:350px;
	margin-top:150px;
	background-color:darkcyan;
	margin-right:40px;
}
.team .team-fc .boxb
{
	background-color:darkgoldenrod;
	width:220px;
	height:350px;
	margin-top:150px;
	margin-right:40px;
}
.team .team-fc .boxc
{
	background-color:darkcyan;
	width:220px;
	height:350px;
	margin-top:150px;
	margin-right:40px;
}
.team .team-fc .boxd
{
	width:220px;
	height:350px;
	background-color:darkgoldenrod;
	margin-top:150px;
	margin-right:40px;
}
.pricing
{
	background-color:MediumPurple;
	height:703px;
}
.pricing .pricing-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.pricing .pricing-fc .boxs
{
	text-align:center;
	margin-top:80px;
	margin-top:90px;
}
.pricing .pricing-fc .boxa
{
	width:265px;
	height:430px;
	margin-top:150px;
	background-color:fuchsia;
	margin-right:40px;
}
.pricing .pricing-fc .boxb
{
	background-color:deepskyblue;
	width:265px;
	height:430px;
	margin-top:150px;
	margin-right:40px;
}
.pricing .pricing-fc .boxc
{
	background-color:fuchsia;
	width:265px;
	height:430px;
	margin-top:150px;
	margin-right:40px;
}
.pricing .pricing-fc .boxd
{
	width:265px;
	height:430px;
	background-color:deepskyblue;
	margin-top:150px;
	margin-right:40px;
}
.faq
{
	background-color:gray;
	height:794px;
}
.faq .faq-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
	flex-wrap:wrap;
	
}
.faq .faq-fc .boxa
{
	width:920px;
	height:126px;
	margin-top:150px;
	background-color:white;

}
.faq .faq-fc .boxb
{
	background-color:white;
	width:920px;
	height:66px;
	margin-top:30px;
}
.faq .faq-fc .boxc
{
	background-color:white;
	width:920px;
	height:66px;
	margin-top:30px;
}
.faq .faq-fc .boxd
{
	width:920px;
	height:66px;
	background-color:white;
	margin-top:30px;
}
.faq .faq-fc .boxe
{
	width:920px;
	height:66px;
	background-color:white;
	margin-top:30px;
}
.contact
{
	background-color:MediumPurple;
	height:665px;
}
.contact .contact-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	text-align:center;
}
.contact .contact-fc .boxa
{
	width:320px;
	height:147px;
	margin-top:100px;
	background-color:white;
}
.contact .contact-fc .boxb
{
	background-color:white;
	width:255px;
	height:168px;
	text-align:center;
	margin-top:100px;
}
.contact .contact-fc .boxc
{
	background-color:white;
	width:212px;
	height:168px;
	margin-top:100px;
}
.contact .contact-fc .boxd
{
	width:230px;
	height:44px;
	background-color:white;
	margin-top:100px;
}
.contact .contact-fc .boxe
{
	background-color:white;
	width:230px;
	height:44px;
	margin-top:100px;
}
.contact .contact-fc .boxf
{
	width:486px;
	height:44px;
	background-color:white;
	margin-top:100px;
}
.contact .contact-fc .boxg
{
	width:488px;
	height:130px;
	background-color:white;
	margin-top:100px;
}
.contact .contact-fc .boxh
{
	background-color:white;
	width:178px;
	height:50px;
	margin-top:100px;
}
.about
{
	background-color:gray;
	height:337px;
}
.about .about-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	text-align:center;
}
.about .about-fc .boxa
{
	width:205px;
	height:257px;
	margin-top:50px;
	background-color:deepskyblue;
	margin-right:40px;
}
.about .about-fc .boxb
{
	background-color:lightblue;
	width:172px;
	height:263px;
	margin-top:50px;
	margin-right:40px;
}
.about .about-fc .boxc
{
	background-color:deepskyblue;
	width:193px;
	height:254px;
	margin-top:50px;
	margin-right:40px;
}
.about .about-fc .boxd
{
	width:405px;
	height:249px;
	background-color:lightblue;
	margin-top:50px;
	margin-right:40px;
}
.copyright
{
	background-color:MediumPurple;
	height:134px;
}
